.blogPost {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
}

.blogPost h2 {
  font-size: 2rem;
  color: var(--color-sub);
  text-align: center;
  line-height: 1.6rem;
  margin-bottom: 3rem;
}



.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 2rem;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: var(--color-bt);
}

.button a {
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.button:hover {
  background-color: #ddd;
  transform: scale(1.1);
}

.button a:hover {
  color: black;
}
