.plans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2.3rem 0;
}

.plans .plans__subtitle {
  text-align: center;
  font-size: 3rem;
  color: var(--color-p);
  font-weight: 700;
}

.plans .plans__title .plans__subtitle {
  
}

.plans .plans__subtitle strong {
  font-size: 3rem;
  color: var(--color-sub);
}

.plans .plans__paragraph {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--color-p);
}