.layout_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 100%;
}

.layont__container::after {
  position: absolute;
  left: 66%;
  right: -100%;
  top: 0;
  bottom: 0;
  width: 100vw;
  content: "";
  background: #f2f2ef;
}

.container__plans {
  display: flex;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}

.plans {
  display: flex;
  flex-direction: column;
  width: 63.6%;
}

.plans__title {
  text-transform: uppercase ;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 900;
  color: #1f2123;
}

.plan-card__list {
  display: flex;
  flex-direction: column; 
  width: 100%;
}

.plan-card-a {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding: 4rem 2rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  border: 1px solid #efefef;
  border-radius: 2rem;
}


.plan-card-a__black {  
  background-color: var(--color-p);
  color: var(--color-text);
  border: var(--color-p);  
}

.plan-card-a__selected {
  background-color: #f2f2f2;
}

.plan-card-a__best {
  position: absolute;
  top: 1.2rem;
  right: -.4rem;
  padding: .5rem 2rem;
  margin-right: 2rem;
  background-color: var(--color-primary);
  color: var(--color-p);
  font-size: 1.6rem;
  font-size: 700;
  text-transform: uppercase;
  border-radius: 1rem;
}

.plan-card-a__best::after, .plan-card-a__best::before {
  content: "";
  position: absolute;
  left: -.9rem;
  height: 0;
  width: 0;
  border-left: .9rem solid transparent;
  border-right: .9rem solid transparent;
}

.plan-card-a__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.plan-card-a__col {
  
}

.plan-card-a__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding: 0 .5rem;
  text-align: center;
}

.plan-card-a__col--inline {
  flex-direction: row;
}


.plan-card-a__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid #b2b3b3;
  border-radius: .2rem;
  font-size: .1rem;
  color: transparent;
}

.plan-card-a__selected .plan-card-a__checkbox::after {
  content: "";
  position: absolute;
  top: .1rem;
  left: .1rem;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url('../../images/checkbox.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}

.plan-card-a__col:first-child, .plan-card-a__col:last-child {
  max-width: none;
  padding: 0;
  text-align: left;
}

.plan-card-a__plan-name {
  margin-left: 2rem;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.plan-card-a__info {
  margin-top: 1.5rem;
  font-weight: 700;
  font-size: 2rem;
}

.plan-card-a__info-preco {
  font-size: 4rem;
}

.plan-card-a__footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}


.plan-card-a .plan-card-a__description {
  font-weight: 700;
  font-style: italic;
  opacity: .8;
  font-size: 1.8rem;
}

.plan-card-a__black .plan-card-a__month-info, .plan-card-a__black .plan-card-a__plan-name {
  color: var(--color-text);
}

.addons-list {
  display: flex;
  flex-direction: column;
  grid-gap: 2rem 0;
  gap: 2rem 0;
  margin-right: 2rem;
  margin-bottom: 2rem;
  
}

.addons-list .headline {
  font-size: 3rem;
  line-height: 2.4rem;
  border-bottom: none;
  text-align: justify;
}

.addons-card {
  padding: 2rem;
  border: 1px solid #dcd0c0;
  border-radius: 2rem;
}

.addons-card__top-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.addons-card-geral {
  width: 100%;
}
.addons-card__preco {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.addons-card__top-card .plan-card-a__description {
  font-size: 1.8rem;
  text-align: justify;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 33%;
  padding: 2rem;
  background-color: #f2f2ef;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 33%;
  padding: 2rem;
  background-color: #f2f2ef;
}


.sidebar__sumary {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.sidebar__sub {
  font-size: 3rem;
  line-height: 1.8;
}



/* Media query for 768px screens */
@media (max-width: 768px) {
  .plan-card-a__col--desktop {
    display: none;
  }

  .container__plans {
    display: block;    
    padding-bottom: 2rem;
  }

  .plans {
    width: 100%;
  }

  .plans__title {
    font-size: 3rem;
  }

  .plan-card-a__footer {
    padding-left: 2rem;
  }

  .sidebar {
    width: 89%;
    padding-right: 4rem;
  }
}

/* Media query for 375px screens */
@media (max-width: 375px) {
  .container__plans {
    padding: 0;
  } 

  .plan-card-a {
    width: 89%;
  }

  .plans__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .plan-card-a__col--desktop {
    display: none;
  }

  .plan-card-a__col h3 {
    font-size: 1.3rem;
  }

  .plan-card-a__col p {
    font-size: 2rem;
  }

  .plan-card-a__footer {
    align-items: center;
    padding-left: 0;
    gap: 1.5rem;
  }

  .plan-card-a__footer .plan-card-a__description {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1rem;
  }

  .addons-list {
    width: 100%;
  }

  .addons-list .headline {
    font-size: 2.5rem;
  }

  .addons-card__description .plan-card-a__description {
    font-size: 1.5rem;
  }
}
