.herder .imgContact {
  width: 100%;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  margin-bottom: -2rem;
  padding: 0;
}

.contact .contactInfo {
  background-color: var(--color-text);
  padding: 4rem ;
}
.contact .contactInfo h2 {
  margin: 0;
  margin-bottom: 1.875rem;
  font-size: 2.4rem;
  color: var(--color-sub);
}

.contactInfo__container {
  float: right;
  padding-right: 7.125rem;
}

.contactInfo span {
  display: grid;
  align-items: center;
  gap:2rem;
  font-weight: 700;
  line-height: 1.69rem;
  font-family: 'Roboto', sans-serif;
}

.contactInfo span:nth-of-type(1) {
  padding: 2rem 0;
}

.contactInfo span:nth-of-type(2) {
  padding :2rem  0;
}

.contactInfo span:nth-of-type(3) {
  padding: 2rem 0;
}

.contactInfo span:nth-of-type(4) {
  padding: 2rem 0;
  line-height: 3rem;
  font-size: 1.8rem;
  }

.contactInfo__container span i {
  color: var(--color-icon);
  font-size: 1.5rem;
  font-weight: 700;
}

.contactInfo span, .contactForm label, .contactForm input {
  display: block;
}

.contactInfo__container, .contactForm__container {
  width: 50%;
}

.contactInfo h2:nth-of-type(2) {
  margin-top: 3.75rem;  
}

.contactForm {   
  padding-right: 4rem;
  background-color: var(--color-p);
  color: var(--color-text);
}

.contactForm__container {
  width: 100%;
  padding-left: 3rem; 
  margin: 0;
 
}

.contactForm h2 {
  margin-right: 2rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: var(--color-text);
}

.contactForm label {
  font-weight: 700;
  font-size: 1.6rem;
  padding: 2rem 0;
}

.contactForm input {
  width: 100%;
  margin-bottom: 1.88rem;
  background: unset;
  border: unset;
  border-bottom: 0.06rem solid #fff;
  color: var(--color-text);
  font-size: 1.5rem;
}

.contactForm span {
  font-size: 1.2rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 2rem;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: var(--color-bt);
}

.button a {
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.button:hover {
  background-color: #ddd;
  transform: scale(1.1);
}

.button a:hover {
  color: black;
}

@media screen and (max-width: 768px) {
  .herder .herderTraining {   
    font-size: 2rem;
    top: 2rem;
  }

  .contact {
    grid-template-columns: 1fr; /* Adjust the layout to a single column */
    margin-bottom: -1rem; /* Modify negative margin if needed */
  }
  .contact .contactInfo,
  .contact .contactForm {
    padding: 2rem; /* Adjust padding for smaller screens */
  }

  .contactInfo__container,
  .contactForm__container {
    width: 100%; /* Set width to full for smaller screens */
    padding: 0; /* Adjust padding if needed */
    margin-bottom: 2rem; /* Add space between sections */
  }

  .contactInfo h2:nth-of-type(2) {
    margin-top: 2rem; /* Modify spacing between headings */
  }

  .contactForm h2 {
    margin-right: 0; /* Adjust margin if needed */
  }
  
  /* You can add more specific styles for smaller screens as needed */
}

/* Media query for 375px screens */
@media (max-width: 375px) {
  .header .herderTraining {
    font-size: 1.5rem;
    top: 1rem;
    line-height: 4rem;
  }
  .imgContact {
    height: auto;
  }
}