.testimony{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
  flex-direction: column;
}

.testimony p {
  width: 85%;
  max-width: 90ch;  
  font-size: 1.4rem;
  color: var(--color-p)
}
