
.testimony{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
  flex-direction: column;
}
.testimony h2 {
  font-size: 2rem;
  color: var(--color-sub);
  text-align: center;
  line-height: 1.6rem;
  margin-bottom: 3rem;
}

.testimony p {
  width: 85%;
  max-width: 90ch;  
  font-size: 1.4rem;
  color: var(--color-p)
}
