.imgTestimony {
  width: 100%;
}

.testimony{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
  flex-direction: column;
}

.testimony p {
  width: 85%;
  max-width: 90ch;  
  font-size: 1.4rem;
  color: var(--color-p)
}

/* Media query for 375px screens */
@media (max-width: 375px) {
  .imgTestimony {
    height: auto;
  }
}
