.imgFAQ {
  width: 100%;
  height: 50rem;

}.herder .herderFAQ {
  color: var(--color-p);
}

.faq-pg {
  padding-bottom: 2rem;
}

/* Media query for 375px screens */
@media (max-width: 375px) {
  
  .imgFAQ {
    height: auto;
  }
}