/*linkis primarios*/
.overlay {
  z-index: 1;
}
.linkPrimarary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  background-color: #fff;
}

.linkPrimarary a {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6rem;
  padding: 2rem 0;
  letter-spacing: .2rem;
}
.linkPrimarary a:hover {
  background-color: #000;
  color: #fff;
}

/* links secundario*/
.linkSecundary {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.linkSecundary-button-img {
  width: 100%;
}

/*botão de pesquisa*/
.search-box {
  background-color: #512b1f;
  height: 5rem;
  border-radius: 4rem;
  padding: 1rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.search-text {
  background: none;
  border: 0;
  outline: 0;

  padding: 0;

  font-size: 1.6rem;
  color: var(--color-text);

  transition: 0.4s;

  width: 0;
}

.search-box.active input {
  border-radius: .5rem .5rem 0 0;
}

.search-btn {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-box .list {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-width: 20rem;
  overflow-y: auto;
}

.search-box.active .list {
  padding: 1rem .8rem;
  opacity: 1;
  pointer-events: auto;
}

.list li {
  list-style: none;
  padding: .8rem 1.2rem;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: .3rem;
}

.search-box.active .list li {
  display: block;
}

.list:hover {
  background: #efefef;
}

.search-box .icon {
  right: 0;
  top: 0;
  height: 5.5rem;
  width: 5.5rem;
  text-align: center;
  line-height: 5.5rem;
  font-size: 2rem;
  color: var(--color-bt);
  cursor: pointer;
}

.search-box:hover > .search-text {
  width: 320px;
  padding-left: 20px;
}

.search-box:hover > .search-btn {
  background: #000;
}


::-webkit-input-placeholder {
  font-size: 17px;
  color: #aeaeae;
}

/* Botão de carinho e menu*/

.linkSecundary-button {
  display: flex; 
  align-items: center;
  justify-content: space-around;
  width: 40rem;
}

.linkSecundary-button-menu {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  min-width: 20rem;
}

.linkSecundary-button-menu h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #fff;
  font-style: italic;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: .3rem;
}

.linkSecundary-button-login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  padding-top: 2rem;
  color: var(--color-text);
}

.linkSecundary-button-login a {
  text-decoration: nome;
  font-size: 1.7rem;
  color: var(--color-primary);
  cursor: pointer;
}

/*Links terceario*/

.overlay > .menuLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 4.8rem;
  margin: 0;
  padding: 0; 
  padding-bottom: 3rem;
}

.overlay .menuLinks a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.4rem;
  text-align: center;
}

.overlay .menuLinks a {
  opacity: 1;
  transition: all .3s ease-in-out;
}

.menuLinks a:hover {
  transform: scale(.9) translateY(-2px);
  opacity: 0.7;
}
