
.main {
  position: relative;
  align-items: center;
  width: 96%;
  height: 70rem;
  margin: 2rem;
  background-color: var(--color-primary);
  box-shadow: 10px 10px 10px var(--color-sub), -10px -10px 10px var(--color-sub);
  border-radius: 2rem;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .main {
    transform: scale(0.7);
  }
}
@media (max-width: 1000px) {
  .main {
    transform: scale(0.6);
  }
}
@media (max-width: 800px) {
  .main {
    transform: scale(0.5);
  }
}
@media (max-width: 600px) {
  .main {
    transform: scale(0.4);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 60rem;
  height: 100%;
  padding: 2.5rem;
  background-color: var(--color-primary);
  transition: 1.25s;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.form__icon {
  object-fit: contain;
  width: 3rem;
  padding-top: 1rem;
  margin: 0 5px;
  opacity: 0.5;
  transition: 0.15s;
}

.form__icon .form__icon-list{
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.form__icon:hover {
  opacity: 1;
  transition: 0.15s;
  cursor: pointer;
}
.form__input {
  width: 35rem;
  height: 4rem;
  margin: 4px 0;
  padding-left: 2.5rem;
  font-size: 1.3rem;
  letter-spacing: 0.15px;
  border: none;
  outline: none;
  background-color: #ecf0f3;
  transition: 0.25s ease;
  border-radius: 8px;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}
.form__input:focus {
  box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
}
.form__span {
  margin-top: 3rem;
  margin-bottom: 1.2rem;
}
.form__link {
  color: #181818;
  font-size: 15px;
  margin-top: 25px;
  line-height: 2;
}

.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 3;
  padding: 0;
  color: #181818;
}

.description {
  font-size: 1.4rem;
  letter-spacing: 0.25px;
  text-align: center;
  line-height: 1.6;
}

.button {
  width: 20rem;
  height: 5rem;
  border-radius: 2.5rem;
  margin-top: 5rem;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 1.15px;
  color: #f9f9f9;
  box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
  border: none;
  outline: none;
}

.button:hover {
  box-shadow: 8px 8px 16px var(--color-bt), -8px -8px 16px var(--color-bt);
  color: var(--color-p);
}

label {
  margin-bottom: 1rem;
  position: relative;
}


label:not(:first-of-type){
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.userName {
  background-image: url("../../images/name.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 2rem;
  padding-left: 3rem;
}

.userEmail {
  background-image: url("../../images/o-email.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 2rem;
  padding-left: 3rem;
}

.userPassword {
  background-image: url("../../images/password.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 2.5rem;
  padding-left: 3rem;
}

.eye-icon1, .eye-icon2, .eye-icon3 {
  position: absolute;
  top: 63%;
  right: 22%;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  font-size: 1.8rem;
  cursor: pointer;
}

.eye-icon2 { 
  top: 69%; 
}

.eye-icon3 { 
  top: 56%; 
}


.helper-text {
  display: none;
  padding-top: 0;
  font-size: 1.5rem;
  color: var(--color-p);
}

.orientacao {
  margin-top: 1.5rem;
  font-size: .7rem;
}

/* ---------- Estilos dinâmicos ---------- */
.required-popup::after {
  content: "*Campo obrigatório";
  position: absolute;
  top: -.5rem;
  left: 8rem;
  color: #DFDFDF;
  font-size: 1rem;
  padding: .2rem .3rem;
  width: 10rem;
  display: block;
  background-color: var(--color-p);
  border-radius: 2rem;
}

input.error {
  border: solid 2px #992020;
  background-color: #CCBBBB;
  color: #662020;
}

input.correct {
  background-color: #BBCCBB;
  border: solid 2px var(--color-primary);
  color: var(--color-p);
}

.visible {
  display: block;
}

/**/
.a-container {
  z-index: 100;
  left: calc(100% - 600px );
}

.b-container {
  left: calc(100% - 600px );
  z-index: 0;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60%;
  z-index: 200;
  transition: 1.25s;
  background-color: #ecf0f3;
  overflow: hidden;
  box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
}
.switch__circle {
  position: absolute;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background-color: #ecf0f3;
  box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
  bottom: -60%;
  left: -60%;
  transition: 1.25s;
}
.switch__circle--t {
  top: -30%;
  left: 60%;
  width: 30rem;
  height: 30rem;
}
.switch__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  margin-right: 4rem;
  width: 60%;
  transition: 1.25s;
}
.switch__button {
  cursor: pointer;
}
.switch__button:hover {
  box-shadow: 6px 6px 10px var(--color-bt), -6px -6px 10px var(--color-bt);
  transform: scale(0.985);
  transition: 0.25s;
}
.switch__button:active, .switch__button:focus {
  box-shadow: 2px 2px 6px #d1d9e6, -2px -2px 6px #f9f9f9;
  transform: scale(0.97);
  transition: 0.25s;
}

.is-txr {
  left: 50%;
  transition: 1.25s;
  transform-origin: left;
}

.is-txl {
  left: 0;
  transition: 1.25s;
  transform-origin: right;
}

.is-z200 {
  z-index: 200;
  transition: 1.25s;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: 1.25s;
}

.is-gx {
  animation: is-gx 1.25s;
}

@keyframes is-gx {
  0%, 10%, 100% {
    width: 400px;
  }
  30%, 50% {
    width: 500px;
  }
}

/* Media query for 768px screens */
@media (max-width: 768px) {
  .main {
    width: 100%;
    margin: 0;
  } 

  .container {
    width: 50%;
    padding: 0;
  }

  .title {
    font-size: 2rem;
  }
  .form__span {
    font-size: 1.2rem;
  }

  .form__input {
    width: 15rem;
  }

  .button {
    width: 15rem;
  }
 
  .switch {
    width: 50%;
  }

  .a-container {
    z-index: 100;
    left: calc(100% - 400px );
  }
  
  .b-container {
    left: 50%;
    z-index: 0;
  }
}

/* Media query for 375px screens */
@media (max-width: 375px) {
  .main {
    width: 100%;
    margin: 0;
  } 

  .container {
    width: 50%;
    padding: 0;
  }

  .title {
    font-size: 2rem;
  }
  .form__span {
    font-size: 1.2rem;
  }

  .form__input {
    width: 15rem;
  }

  .button {
    width: 15rem;
  }
 
  .switch {
    width: 50%;
  }
  .a-container {
    z-index: 100;
    left: 50%
  }

}
