:root {
  font-size: 62.5%;
  --bg-img: linear-gradient(to bottom right, var(--color-p), var(--color-geral));
  --color-primary: #dba0a0;
  --color-sub:#5c0707;
  --color-p: #000;
  --color-bt: #d80f0f;
  --color-text: #fff;
  --color-icon: #512b1f;
  --color-geral:  rgba(231,81,11,1);
}

body, button, input, label, h1, h2, h3, h5, h6, p, span{
  font-family: 'Roboto', sans-serif;
}
