@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

@import url('./reset.css');
@import url('./global.css');
@import url('./componets/slider.css');
@import url('./componets/base.css');
@import url('./componets/@mediaQuery.css');
@import url('./componets/index.css');
@import url('./componets/header.css');
@import url('./componets/footer.css');
@import url('./componets/blog.css');
@import url('./componets/depoimentos.css');
@import url('./componets/contato.css');
@import url('./componets/sobre.css');
@import url('./componets/faq.css');
@import url('./componets/galeria.css');
@import url('./componets/incricao.css');
@import url('./componets/membros.css');
@import url('./componets/politica.css');
@import url('./componets/programas.css');
@import url('./componets/termos.css');
@import url('./componets/areaMembros.css');
@import url('./componets/inscricao.css');
@import url('./componets/loginMembros.css');
@import url('./componets/carrinho.css');
@import url('./componets/pagamentoCartao.css');
@import url('./componets/pagamento.css');
