@import url('./reset.css');
@import url('./global.css');
@import url('./componets/header.css');
@import url('./componets/footer.css');
@import url('./componets/blog.css');
@import url('./componets/depoimentos.css');

body {
    background-image: var(--bg-img); /* Adicione sua imagem de fundo desejada */
    background-size: cover;
}

main {
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
}


section {
    margin-bottom: 2rem;
    padding: 2rem;
   
}

h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1.6rem;
    margin: 2rem;
    text-align: center;
}

.card {
    margin: 1rem;
}

#cart {
    margin-top: 2rem;
}

#checkout {
    margin-top: 1rem;
}


